.product-card {
    width: 350px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
    cursor: pointer;
    margin: 10px;
}

.product-card .product-card__cover {
    align-self: center;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center center;
}

.product-card .product-card__name {
    margin-top: 15px;
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 25px;
    text-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-card .product-card__brand {
    color: gray;
}

.product-card .product_card__price {
    font-size: 35px;
    color: chartreuse;
}

@media (max-width: 500px) {
    .product-card {
        margin: 0;
    }
}

@media (max-width: 400px) {
    .product-card {
        width: 250px;
    }
    
    .product-card .product-card__cover {
        width: 250px;
        height: 250px;
    }
}